:root {
    --primary-text-color:  rgba(0, 0, 0, 0.8);
    --primary-color: #258BD6;
    --light-blue: #84b7fe;
    --border-color: #EDF7FA
}

body {
    // background-color:  #efefef;
    background-color: #fff;
    font-family: Montserrat;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}
p {
    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.header {
    background: #fff;
    box-shadow: inset 0px -1px 2.5px rgba(0, 0, 0, 0.08);
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.64);
    position: sticky;
    top: 0;
   
}

.navbar {
    &__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        li {
            p {
                cursor: default;
                transition: color 0.25s ease-in;
                &:hover {
                    color: #0F6BAC;
                    transition: color 0.25s ease-in;
                }
            }
        }
        li:last-child {
            a {
                color: rgba(0, 0, 0, 0.64);
                text-decoration: none;
                transition: color 0.25s ease-in;
                cursor: pointer;
                &:hover {
                    color: #0F6BAC;
                    transition: color 0.25s ease-in;
                }
            }
        }
    }
    
}

.main-body {
    width: 100%;
    display: flex;
    aside {
        width: 25%;
        border-right: 2px solid var(--border-color);
        h4 {
            margin: 0 0 8px;
        }
        .skills {
            padding: 40px;
            &__wrapper {
                margin-bottom: 20px;
            }
            &__list {
                &__item {
                    list-style: circle;
                }
            }
        }
    }
    main {
        width: 70%;
        padding: 60px 40px 40px;
    }
    .personal-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        column-gap: 40px;
        &__image {
            border-radius: 50%;
            width: 248px;
            height: 248px; 
            border: 1px solid black;
            overflow: hidden;
            img {
                width: 248px;
                height: 248px;
                object-fit: cover;
            }
        }
        &__texts {
            max-width: 60%;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            h1 {
                font-weight: bold;
                font-size: 44px;
                line-height: 55px;
                margin: 0;
                span {
                    background-color: #000;
                    color: #fff;
                }
            }
            &__description {
                color: var(--primary-text-color);
                line-height: 24px;
                font-size: 16px;
            }

        }

        &__contact {
            a {
                text-decoration: none;
            }
            display: flex;
            .primary__btn {
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 200px;
                padding: 12px 0;
                outline: none;
                border: 1px solid var(--primary-color);
                background-color: #fff;
                color: var(--primary-color);
                font-weight: 600;
                font-size: 14px;
                list-style: 20px;
                cursor: pointer;
                transition: all 0.25s ease-in;
                &:hover {
                    // border: 1px solid var(--light-blue);
                    background: var(--primary-color);
                    color: #fff;
                    transition: all 0.15s ease-in;
                }
            }
        }
    }
    .about {
        margin: 80px 0;
        &__bodytext {
            color: var(--primary-text-color);
            font-size: 16px;
            line-height: 24px;
        }
        &__experience {
            margin-top: 40px;
            display: flex;
            &__year {
                width: 20%;
                font-style: italic;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
            }
            &__list {
                width: 75%;
                display: flex;
                flex-direction: column;
                row-gap: 12px;
                border-left: 1px solid var(--border-color);
                &__title {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 24px;
                }
                &__item {
                    color: var(--primary-text-color);
                    &::before {
                        content: "→";
                        color: var(--primary-color);
                        display: inline-block;
                        width: 30px;
                        font-weight: bold;
                        margin-left: 10px;

                    }
                }
            }
        }
    }

}

footer {
    height: 5vh;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        text-align: center;
        color: white;
    }
    
    // border-top: 1px solid var(--border-color);
}

@media (max-width: 768px) {
    // .container {
    //     margin: 0 auto;
    //     max-width: 1248px;
    //     width: 100%;
    // }   
 
    .header {
        height: 48px;
    }

    .navbar {
        &__list {
            &:not(first-child) {
                li {
                    display: none;
                }
            }
        }
    }
    
    .main-body {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        aside {
            border-right: none;
            width: 100% !important;
            .skills {
                padding: 16px;
            }
        }
        main {
            width: 90% ;
            padding: 16px;
        }
        .personal-info {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            justify-content: flex-start;
            align-items: center;
            &__image {
                border-radius: 50%;
                width: 248px;
                height: 248px; 
                border: 1px solid black;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 248px;
                    height: 248px;
                    object-fit: cover;
                }
            }
            &__texts {
                max-width: 100%;
            }
        }
    }
}